.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #444b59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-spacing {
  margin-bottom: 1em;
}

.edu-btn {
  background-color: #1c2f39 !important;
  border-color: #1c2f39 !important;
}

.edu-btn:focus {
  border-color: #3a6277 !important;
}

.answer-choice {
  width: 10em;
}

.next-btn {
  width: 15em;
}

.edu-block {
  background-color: #3a6277;
  display: block;
  width: 600px !important;
  border-radius: 5px;
}

.primary-edu-block {
  background-color: #3a6277;
  display: block;
  width: 800px !important;
  border-radius: 5px;
}

.education-header {
  margin-top: 1em;
}

hr {
  width: 80%;
}

.title {
  text-align: center;
}

.full-width {
  width: 100%;
}

.search-btn {
  width: 5em;
}

.search-selector-btn {
  background-color: #444b59 !important;
  border: 0 !important;
}

.edu-nav {
  display: block;
  width: 100% !important;
}