progress{
    -webkit-appearance: none;
    width: -webkit-fill-available;
    height: 9px;
    vertical-align: top;
    top: 58px;
    left: 0px;
    position: absolute;
}

progress::-webkit-progress-value{
    background-color: rgb(0, 117, 255);
}
