/* The following block can be included in a custom.scss */

/* make the customizations */
$body-bg: #444b59;
$theme-colors: (
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

body {
  /*  expand body to fill page heigth  */
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}