/* The following block can be included in a custom.scss */

/* make the customizations */
$body-bg: #444b59;
$theme-colors: (
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

body, html, #root{
  height: 100vh;
}